<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7h3 5h0p</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header class="page-header">
        <div class="page-header__top">
            <a href="/" class="page-header__page-name">7h3 5h0p</a>
            <a href="http://oggettoweb.ru/" class="page-header__oggetto-link oggetto-link"><%-include('img/oggetto_logo.svg')%></a>
            <a href="tel:+78122128506" class="page-header__phone">+7 (812) 2&bull;12&bull;85&bull;06</a>
        </div>
        <div class="page-header__menu">
            <div class="container">
                <nav class="main-nav">
                    <ul class="main-nav__list site-list">

                        <% const siteList = [
                            {text: "LISP", link: "#"},
                            {text: "OCaml", link: "#"},
                            {text: "JavaScript", link: "#"},
                            {text: "Python", link: "#"},
                            {text: "PHP", link: "#"}
                        ]
                        %>
                        <% siteList.forEach(function(item, index) { %>
                        <li class="site-list__item">
                            <% if(index == 0) { %>

                            <%= item.text; %>
                            <% } %>
                            <% if(index > 0) { %>

                            <a class="site-list__item-link" href="<%= item.link; %>"><%= item.text; %></a>
                            <% } %>
                        </li>

                        <% }); %>



                    </ul>
                </nav>
                <form class="page-header__search search" action="#" method="get">
                    <label>
              <input class="search__search-field" type="search" size="32" name="form-user-info">
            </label>
                    <input class="search__search-button" type="submit" value="Искать">
                </form>
            </div>
        </div>
    </header>
    <main class="page-main">
        <ul class="page-main__breadcrumbs breadcrumbs">

            <% const breadcrumbs = [
                {text: "LISP", link: "#"},
                {text: "Одежда", link: "#"},
                {text: "Футболки", link: "#"}
            ]
            %>

            <% breadcrumbs.forEach(function(crumb, index) { %>
            <li class="breadcrumbs__item">
                <% if(index == breadcrumbs.length - 1) { %>

                <%= crumb.text; %>
                <% } %>
                <% if(index < (breadcrumbs.length - 1)) { %>
                <a href="#" class="breadcrumbs__link"><%= crumb.text; %></a>

                <span class="breadcrumbs__separator">/</span>
                <% } %>
            </li>
            <% }); %>
        </ul>
        <section class="page-main__product">
            <figure class="product-figure">
                <img class="product-figure__img" src="img/tshirt_white.jpg" alt="picture" width="698" height="698" id="productImage">
            </figure>
            <div class="page-main__product-info product-info">
                <h1 class="product-info__title">Футболка Alien technology</h1>
                <p class="product-info__description">Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.</p>
                <p class="product-info__price">1500&#8381;</p>
                <form class="page-main__product-form" action="#" method="post">
                    <fieldset class="page-main__product-parameters">
                        <p class="page-main__product-parameter-title">Размер</p>

                        <% const sizeButton = [
                            {size: "s", text: "S"},
                            {size: "m", text: "M"},
                            {size: "l", text: "L"}
                        ]
                        %>
                        <% sizeButton.forEach(function(size, index) { %>
                        <input class="page-main__product-radio page-main__product-radio--size-<%= size.size; %>" type="radio" name="size" value="<%= size.size; %>" id="size-radio-<%= size.size; %>">
                        <label for="size-radio-<%= size.size; %>"><%= size.text; %></label>
                        <% }); %>

                    </fieldset>
                    <fieldset class="page-main__product-parameters">
                        <p class="page-main__product-parameter-title">Цвет</p>

                        <% const colorButton = [
                            {color: "white", text: "W"},
                            {color: "yellow", text: "Y"},
                            {color: "green", text: "G"}
                            ]
                        %>
                        <% colorButton.forEach(function(color, index) { %>
                        <input class="page-main__product-radio page-main__product-radio--color-<%= color.color; %>" type="radio" name="color" value="<%= color.color; %>" id="color-radio-<%= color.color; %>">
                        <label for="color-radio-<%= color.color; %>"><%= color.text; %></label>
                        <% }); %>

                    </fieldset>
                    <input class="button page-main__button-buy" type="submit" value="Купить">
                    <input class="add-to-wishlist" type="submit" value="Отложить на потом">
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="page-footer__top">
                <section class="page-footer__section">
                    <h5 class="page-footer__section-title">Сервис и поддержка</h5>
                    <ul class="page-footer__list footer-links">

                        <% const footerlistServices = [
                            {text: "Как сделать заказ", link: "#"},
                            {text: "Возврат товара", link: "#"},
                            {text: "Публичная оферта", link: "#"},
                            {text: "Доставка", link: "#"},
                            {text: "Способы оплаты", link: "#"},
                            {text: "Правила продажи", link: "#"},
                            {text: "Возврат денежных средств", link: "#"},
                            {text: "Вопросы и ответы", link: "#"}
                            ]
                        %>
                        <% footerlistServices.forEach(function(item, index) { %>
                        <li class="footer-links__item">
                            <a class="footer-links__item-link" href="<%= item.link; %>"><%= item.text; %></a>
                        </li>

                        <% }); %>
                    </ul>
                </section>
                <section class="page-footer__section">
                    <h5 class="page-footer__section-title">О компании</h5>
                    <ul class="page-footer__list  footer-links">


                        <% const footerlistAbout = [
                            {text: "О нас", link: "#"},
                            {text: "Контакты", link: "#"},
                            {text: "Вакансии", link: "#"},
                            {text: "Партнерам", link: "#"},
                            {text: "Сертификаты", link: "#"},
                            {text: "Преимущества", link: "#"},
                            {text: "Наши скидки", link: "#"}
                            ]
                        %>
                        <% footerlistAbout.forEach(function(item, index) { %>
                        <li class="footer-links__item">
                            <a class="footer-links__item-link" href="<%= item.link; %>"><%= item.text; %></a>
                        </li>

                        <% }); %>

                    </ul>
                </section>
                <section class="page-footer__features">
                    <ul class="page-footer__features-list features-list">
                        <% const footerlistFeatures = [
                            {feauture: "delivery", text: "бесплатная доставка от 4000Р"},
                            {feauture: "probe", text: "пробники в подарок при каждой покупке"},
                            {feauture: "actions", text: "акции и подарки за покупку"},
                        ]
                        %>
                        <% footerlistFeatures.forEach(function(item, index) { %>
                        <li class="features-list__item features-list__item--<%= item.feauture; %>">
                            <%= item.text; %>
                        </li>
                        <% }); %>
                    </ul>
                </section>
                <section class="page-footer__social-links social-links">

                    <% const footerSocialLinks = [
                        {SocialNetwork: "facebook", link: "#", text: "Fb"},
                        {SocialNetwork: "twitter", link: "#", text: "Twit"},
                        {SocialNetwork: "instagram", link: "#", text: "Inst"},
                    ]
                    %>
                    <% footerSocialLinks.forEach(function(item, index) { %>
                    <a href="<%= item.link; %>" class="social-links__social-button social-links__social-button--<%= item.SocialNetwork; %>">
                        <%= item.text; %>
                    </a>
                    <% }); %>

                </section>
            </div>
            <div class="page-footer__bottom">
                <p class="page-footer__copyright">2005-2017 &copy; 7h35h0p.ru - модный интернет-магазин одежды, обуви и аксессуаров. <br> Все права защищены. Доставка по всей России!</p>
            </div>
        </div>
    </footer>

    <script src="js/checkColor.js"></script>

</body>

</html>
